<p>Введите логин и пароль, который был выпущен для вас!</p>

<form action="/account" method="POST">
    Ваш логин: <br />
    <input type="text" name="login" /> <br />
    Ваш пароль: <br />
    <input type="password" name="passw" /> <br />
    <br />
    <button type="submit" class="btn btn-danger">Войти</button>
</form>
<br /> 
<%= @acc_den %>