<h1> Welcome to admin page</h1>
<p> Enter username and password that was issued for you!</p>

<form action="/adm_result" method="POST">
    Your username: <br />
    <input type="text" name="login" /> <br />
    Your password: <br />
    <input type="password" name="password" /> <br />

    <input type="submit" />
</form>

<%= @oth %>