<h3>Записаться можно тут!</h3>

<form action="/visit" method="POST">
  <div class="mb-3">
    <label>Давайте познакомимся :) </label>
    <input name= "username" type="text" class="form-control" placeholder="Введите ваше имя...">
  </div><br />

  <div class="mb-3">
    <label>Когда вам было бы удобно?</label>
    <input name= "date_time" type="text" class="form-control" placeholder="Введите дату и время...">
  </div><br />

  <div class="mb-3">
    <label>Куда вам перезвонить?</label>
    <input name="phone_number" type="text" class="form-control" placeholder="Введите ваш номер телефона...">
  </div><br />

  <select name="barber" class="form-select" aria-label="Пример выбора по умолчанию">
    <option selected>Выберете барбера, к которому хотите записаться</option>
    <option value="Грегори">Грегори</option>
    <option value="Тео">Тео</option>
    <option value="Леонидес">Леонидес</option>
  </select>

  <button type="submit" class="btn btn-danger">Записаться</button>
</form>