<h3/>Наше расписание: </h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">День недели</th>
      <th scope="col">Время работы</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Понедельник</td>
      <td>9:00 - 18:00</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Вторник</td>
      <td>9:00 - 18:00</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Среда</td>
      <td>9:00 - 18:00</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Четверг</td>
      <td>9:00 - 18:00</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Пятница</td>
      <td>9:00 - 17:00</td>
    </tr>
  </tbody>
</table>